In [1]:
import pandas as pd
import pickle

In [2]:
pokemon = pd.read_csv("/content/pokemon_data.csv")

In [3]:
pokemon.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [4]:
print(pokemon.describe())

print(pokemon.isnull())

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]
         #   Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0    False  False   False   False  ...    False  False       False      False
1    False  False   False   False  ...    False  False       False      False
2    False  False   False   False  ...    False  False       False      False
3    False  False   False   False  ...    False  False       False      False
4    False  False   False    True  ...    False  False       False      False
..     ...    ...     ...     ...  ...      ...    ...         ...        ...
795  False  False   False   False  ...    False  False       False      False
796  False  False   False   False  ...    False  False       False      False
797  False  False   False   False  ...    False  False       False      False
798  False  False   False   False  ...    False  False       False      False
799  False  False   False   False  ...    False  False       False      False

[800 rows x 12 columns]

In [5]:
pokemon.isna().sum()

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [6]:
pokemon.shape

(800, 12)

In [7]:
#Number of pokemon in dataset
pokemon["Type 2"].fillna("Other", inplace=True)

In [8]:
#Specific rows in the dataset
pokemon.iloc[10:15]

     #                     Name Type 1  ... Speed  Generation  Legendary
10   8                Wartortle  Water  ...    58           1      False
11   9                Blastoise  Water  ...    78           1      False
12   9  BlastoiseMega Blastoise  Water  ...    78           1      False
13  10                 Caterpie    Bug  ...    45           1      False
14  11                  Metapod    Bug  ...    30           1      False

[5 rows x 12 columns]

In [9]:
#Specific cell in the data (Speed of eighth pokemon)

pokemon.iloc[10 ,9]

58

In [34]:
# Name of the pokemons has attack higher than 50
pokemon.loc[pokemon["Attack"]>50 ,["Name", "HP"]]

                      Name  HP
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
5               Charmeleon  58
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[630 rows x 2 columns]

In [11]:
#Pokemon names that have rock as type 1 and fairy as a type 2

pokemon["Name"][(pokemon["Type 1"]== "Rock") & (pokemon["Type 2"] == "Fairy")]

773                Carbink
795                Diancie
796    DiancieMega Diancie
Name: Name, dtype: object

In [12]:
pokemon.loc[(pokemon["Attack"] >= 50) | (pokemon["Sp. Atk"] >= 75)].sort_values(by=["Attack","Sp. Atk"] , ascending=False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
163  150      MewtwoMega Mewtwo X  Psychic  ...   130           1       True
232  214  HeracrossMega Heracross      Bug  ...    75           2      False
426  384    RayquazaMega Rayquaza   Dragon  ...   115           3       True
429  386       DeoxysAttack Forme  Psychic  ...   150           3       True
424  383    GroudonPrimal Groudon   Ground  ...    90           3       True
..   ...                      ...      ...  ...   ...         ...        ...
616  555       DarmanitanZen Mode     Fire  ...    55           5      False
638  577                  Solosis  Psychic  ...    20           5      False
257  238                 Smoochum      Ice  ...    65           2      False
68    63                     Abra  Psychic  ...    90           1      False
261  242                  Blissey   Normal  ...    55           2      False

[688 rows x 12 columns]

In [13]:
# Sort df by Name
pokemon.sort_values(by="Name").reset_index(drop= True)

       #                     Name   Type 1  ... Speed  Generation  Legendary
0    460                Abomasnow    Grass  ...    60           4      False
1    460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
2     63                     Abra  Psychic  ...    90           1      False
3    359                    Absol     Dark  ...    75           3      False
4    359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
795  571                  Zoroark     Dark  ...   105           5      False
796  570                    Zorua     Dark  ...    65           5      False
797   41                    Zubat   Poison  ...    55           1      False
798  634                 Zweilous     Dark  ...    58           5      False
799  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

## Playing around data

In [14]:
# Fastest pokemon overall
pokemon["Fastest"]= (pokemon["Speed"]/pokemon["Speed"].mean()).sort_values()

In [15]:
pokemon.sort_values(by="Fastest", ascending=False).reset_index(drop=True)

       #                       Name   Type 1  ... Generation  Legendary   Fastest
0    386          DeoxysSpeed Forme  Psychic  ...          3       True  2.636300
1    291                    Ninjask      Bug  ...          3      False  2.343378
2    386         DeoxysNormal Forme  Psychic  ...          3       True  2.196917
3    142  AerodactylMega Aerodactyl     Rock  ...          1      False  2.196917
4     65      AlakazamMega Alakazam  Psychic  ...          1      False  2.196917
..   ...                        ...      ...  ...        ...        ...       ...
795  597                  Ferroseed    Grass  ...          5      False  0.146461
796  438                     Bonsly     Rock  ...          4      False  0.146461
797  328                   Trapinch   Ground  ...          3      False  0.146461
798  213                    Shuckle      Bug  ...          2      False  0.073231
799  446                   Munchlax   Normal  ...          4      False  0.073231

[800 rows x 13 columns]

In [16]:
pokemon.drop(columns=["Fastest"],inplace=True)

In [17]:
#Total power of pokemon(Hp + Attackt + Defense + SP.Atk/Def + Speed)

pokemon["Total"]= pokemon.iloc[:,4:10].sum(axis=1)
pokemon

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander     Fire  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion     Fire  ...          6       True    600

[800 rows x 13 columns]

#Filtering

In [18]:
#Total power comparasion whether pokemon is Legand or not 
pokemon.groupby("Legendary")["Total"].agg(sum)

Legendary
False    306652
True      41430
Name: Total, dtype: int64

In [19]:
#Pokemons names which include "Mega"
pokemon.loc[pokemon["Name"].str.contains("Mega")]

       #                       Name    Type 1  ... Generation  Legendary  Total
3      3      VenusaurMega Venusaur     Grass  ...          1      False    625
7      6  CharizardMega Charizard X      Fire  ...          1      False    634
8      6  CharizardMega Charizard Y      Fire  ...          1      False    634
12     9    BlastoiseMega Blastoise     Water  ...          1      False    630
19    15      BeedrillMega Beedrill       Bug  ...          1      False    495
23    18        PidgeotMega Pidgeot    Normal  ...          1      False    579
71    65      AlakazamMega Alakazam   Psychic  ...          1      False    590
87    80        SlowbroMega Slowbro     Water  ...          1      False    590
102   94          GengarMega Gengar     Ghost  ...          1      False    600
124  115  KangaskhanMega Kangaskhan    Normal  ...          1      False    590
137  127          PinsirMega Pinsir       Bug  ...          1      False    600
141  130      GyaradosMega Gyarados     Water  ...          1      False    640
154  142  AerodactylMega Aerodactyl      Rock  ...          1      False    615
163  150        MewtwoMega Mewtwo X   Psychic  ...          1       True    780
164  150        MewtwoMega Mewtwo Y   Psychic  ...          1       True    780
168  154                   Meganium     Grass  ...          2      False    525
196  181      AmpharosMega Ampharos  Electric  ...          2      False    610
224  208        SteelixMega Steelix     Steel  ...          2      False    610
229  212          ScizorMega Scizor       Bug  ...          2      False    600
232  214    HeracrossMega Heracross       Bug  ...          2      False    600
248  229      HoundoomMega Houndoom      Dark  ...          2      False    600
268  248    TyranitarMega Tyranitar      Rock  ...          2      False    700
275  254      SceptileMega Sceptile     Grass  ...          3      False    630
279  257      BlazikenMega Blaziken      Fire  ...          3      False    630
283  260      SwampertMega Swampert     Water  ...          3      False    635
306  282    GardevoirMega Gardevoir   Psychic  ...          3      False    618
327  302        SableyeMega Sableye      Dark  ...          3      False    480
329  303          MawileMega Mawile     Steel  ...          3      False    480
333  306          AggronMega Aggron     Steel  ...          3      False    630
336  308      MedichamMega Medicham  Fighting  ...          3      False    510
339  310    ManectricMega Manectric  Electric  ...          3      False    575
349  319      SharpedoMega Sharpedo     Water  ...          3      False    560
354  323      CameruptMega Camerupt      Fire  ...          3      False    560
366  334        AltariaMega Altaria    Dragon  ...          3      False    590
387  354        BanetteMega Banette     Ghost  ...          3      False    555
393  359            AbsolMega Absol      Dark  ...          3      False    565
397  362          GlalieMega Glalie       Ice  ...          3      False    580
409  373    SalamenceMega Salamence    Dragon  ...          3      False    700
413  376    MetagrossMega Metagross     Steel  ...          3      False    700
418  380          LatiasMega Latias    Dragon  ...          3       True    700
420  381          LatiosMega Latios    Dragon  ...          3       True    700
426  384      RayquazaMega Rayquaza    Dragon  ...          3       True    780
476  428        LopunnyMega Lopunny    Normal  ...          4      False    580
494  445      GarchompMega Garchomp    Dragon  ...          4      False    700
498  448        LucarioMega Lucario  Fighting  ...          4      False    625
511  460    AbomasnowMega Abomasnow     Grass  ...          4      False    594
527  475        GalladeMega Gallade   Psychic  ...          4      False    618
591  531          AudinoMega Audino    Normal  ...          5      False    545
796  719        DiancieMega Diancie      Rock  ...          6       True    700

[49 rows x 13 columns]

In [20]:
# All type 1 of pokemon except include "Fire"
pokemon.loc[~pokemon["Type 1"].str.contains("Fire")]

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
9      7               Squirtle    Water  ...          1      False    314
..   ...                    ...      ...  ...        ...        ...    ...
794  718       Zygarde50% Forme   Dragon  ...          6       True    600
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680

[748 rows x 13 columns]

In [21]:
pokemon.describe()

                #          HP      Attack  ...       Speed  Generation      Total
count  800.000000  800.000000  800.000000  ...  800.000000   800.00000  800.00000
mean   362.813750   69.258750   79.001250  ...   68.277500     3.32375  435.10250
std    208.343798   25.534669   32.457366  ...   29.060474     1.66129  119.96304
min      1.000000    1.000000    5.000000  ...    5.000000     1.00000  180.00000
25%    184.750000   50.000000   55.000000  ...   45.000000     2.00000  330.00000
50%    364.500000   65.000000   75.000000  ...   65.000000     3.00000  450.00000
75%    539.250000   80.000000  100.000000  ...   90.000000     5.00000  515.00000
max    721.000000  255.000000  190.000000  ...  180.000000     6.00000  780.00000

[8 rows x 9 columns]

In [22]:
# Assign pokemon as "quite legendary" if attack and defense higher than mean+std
## Assign pokemon as "legendary" if attack and defense higher than mean


pokemon.loc[(pokemon["Attack"] > 80) & (pokemon["Defense"] > 73), ("Legendary")] = "Legend"
pokemon.loc[(pokemon["Attack"] > 121) & (pokemon["Defense"] > 104), ("Legendary")] = "Quite Legend"
pokemon.loc[(pokemon["Attack"] <= 80) | (pokemon["Defense"] <= 73), ("Legendary")] = "Poor Babe"

In [23]:
pokemon

       #                   Name   Type 1  ... Generation     Legendary  Total
0      1              Bulbasaur    Grass  ...          1     Poor Babe    318
1      2                Ivysaur    Grass  ...          1     Poor Babe    405
2      3               Venusaur    Grass  ...          1        Legend    525
3      3  VenusaurMega Venusaur    Grass  ...          1        Legend    625
4      4             Charmander     Fire  ...          1     Poor Babe    309
..   ...                    ...      ...  ...        ...           ...    ...
795  719                Diancie     Rock  ...          6        Legend    600
796  719    DiancieMega Diancie     Rock  ...          6  Quite Legend    700
797  720    HoopaHoopa Confined  Psychic  ...          6     Poor Babe    600
798  720     HoopaHoopa Unbound  Psychic  ...          6     Poor Babe    680
799  721              Volcanion     Fire  ...          6        Legend    600

[800 rows x 13 columns]

In [24]:
#Number of legendary conditions 
pokemon.groupby("Legendary")["Total"].count()

Legendary
Legend          190
Poor Babe       585
Quite Legend     25
Name: Total, dtype: int64

In [25]:
pokemon["Super Attack"] = pokemon["Attack"]+pokemon["Sp. Atk"]
pokemon["Super Defense"] = pokemon["Defense"]+pokemon["Sp. Def"]

In [26]:
df = pokemon.sort_values(by=["Super Attack", "Super Defense"],ascending=False).reset_index(drop=True)

In [27]:
#First fifteen most powerful pokemon
df.head(15)

      #                   Name   Type 1  ... Total  Super Attack  Super Defense
0   384  RayquazaMega Rayquaza   Dragon  ...   780           360            200
1   386     DeoxysAttack Forme  Psychic  ...   600           360             40
2   150    MewtwoMega Mewtwo X  Psychic  ...   780           344            200
3   150    MewtwoMega Mewtwo Y  Psychic  ...   780           344            190
4   382    KyogrePrimal Kyogre    Water  ...   770           330            250
5   383  GroudonPrimal Groudon   Ground  ...   770           330            250
6   720     HoopaHoopa Unbound  Psychic  ...   680           330            190
7   719    DiancieMega Diancie     Rock  ...   700           320            220
8   384               Rayquaza   Dragon  ...   680           300            180
9   386     DeoxysNormal Forme  Psychic  ...   600           300            100
10  681   AegislashBlade Forme    Steel  ...   520           300            100
11  381      LatiosMega Latios   Dragon  ...   700           290            220
12  445  GarchompMega Garchomp   Dragon  ...   700           290            210
13  646     KyuremBlack Kyurem   Dragon  ...   700           290            190
14  646     KyuremWhite Kyurem   Dragon  ...   700           290            190

[15 rows x 15 columns]

In [28]:
xx = df.groupby(["Type 1","Type 2"])["Legendary"].value_counts()

In [29]:
#Number of legends according to their type1/2
pd.DataFrame(xx)

                              Legendary
Type 1 Type 2   Legendary
Bug    Electric Poor Babe             2
       Fighting Legend                1
                Quite Legend          1
       Fire     Poor Babe             2
       Flying   Poor Babe            12
...                                 ...
Water  Poison   Legend                1
       Psychic  Poor Babe             5
       Rock     Legend                2
                Poor Babe             2
       Steel    Legend                1

[246 rows x 1 columns]